<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inscriptionAtelier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
      Nom obligatoire.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input formControlName="first_name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
      Prénom obligatoire.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required && errorCtr.email.errors?.pattern">
      adresse invalide
    </span>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
    </ion-col>
  </form>
</ion-content>