<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackathon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let item of LesHackathons" (click)="MonClick(item)">
        <ion-card >
          <ion-card-header>
            <ion-card-title>{{item.nom}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{item.nbr_places_limit}}</ion-label>
            <ion-label>{{splitDate(item.date_debut)}}</ion-label>
            <ion-label>{{splitDate(item.date_fin)}}</ion-label>
            <ion-label>{{item.lieu}}</ion-label>
            <ion-label>{{item.heure}}</ion-label>
          </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

