<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Atelier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of LesAteliers">
  
        <ion-label>{{item.description}}</ion-label>
        <ion-label>{{splitDate(item.date_debut)}}</ion-label>
        <ion-label>{{item.duree}}</ion-label>
        <ion-label>{{item.salle}}</ion-label>
        <ion-label>{{item.heure}}</ion-label>
        <ion-button (click)="onSubmit(item)" type="submit">Inscription</ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
